* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 16px;
  padding: 8px;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  justify-content: center;
  margin: 16px;
}

.square {
  background-color: teal;
  border: 1px solid black;
}
